a {
    text-decoration: none;
    color: #1512ead3;
}

#register {
    width: 350px;
    height: 400px;
    /*background:rgba(197,230,248,5);*/
    background: #c5e6f8aa;
    /*00 完全透明,FF不透明*/
    margin: 250px auto;
    border-radius: 15px;
}

.logform {
    width: 100%;
    height: 50px;
    background: #c5e6ffaa;
    /*00完全透明，FF 不透明*/
    float: left;
    border-radius: 10px 10px 0 0;
    text-align: center;
    line-height: 50px;
}

.logleft {
    width: 30%;
    height: 40px;
    /* background:#ff0000; */
    border-radius: 10px 10px 0 0;
    text-align: center;
    line-height: 40px;
    float: left;
    clear: right;

}

.logright {
    width: 70%;
    height: 40px;
    text-align: left;
    line-height: 40px;
    float: left;
    clear: right;
    /* background: #ff0000; */
}

/* input[type=checkbox] {
    cursor: pointer;
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 14px;
}

input[type=checkbox]::after {
    position: absolute;
    top: 0;
    color: #000;
    width: 15px;
    height: 15px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 3px
}

input[type=checkbox]:checked::after {
    content: "✓";
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-color: #1418ec;
}

input[type="radio"]::before {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #999999;
    margin-right: 0.2rem;
    box-sizing: border-box;
    margin-top: -0.1rem;
}

input[type="radio"]:checked::before {
    background-color: #1418ec;

    border: 1px solid #1418ec;
}

input[type="radio"] {
    position: relative;
    clip: rect(0, 0, 0, 0);
} */

body {
    background: url(../img/register.jpg);
    background-repeat: repeat;
    background-size: cover;
    text-align: center
}