<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="publicpage(title='查询编辑')">
<meta charset="UTF-8">
<div th:fragment="public_right">
    <table class="table table-hover" style="width:80%">
        <form action="/find" method="get">
            <h2>查询页面</h2>
            请输入用户名:<input id="name" name="name" type="text" th:value="${userName}"><br><br>
            <input type="submit" value="查询"/>
            <button name="button" onclick="javascript:history.back(-1);">返回</button>
        </form>
    </table>
</div>
</html>