<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/table.css" th:href="@{/css/table.css}">
    <script th:src="@{/js/echarts.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").dataTable({
                "bProcessing": true,//DataTables载入数据时，是否显示‘进度’提示
                "aLengthMenu": [5, 10, 15],//更改显示记录数选项
                "sPaginationType": "full_numbers",//详细分页组，可以支持直接跳转到某页
                "bAutoWidth": true,//是否自适应宽度
                // "bJQueryUI": true,
                "oLanguage": {
                    //国际化配置
                    "sProcessing": "正在获取数据，请稍后...",
                    "sLengthMenu": "显示_MENU_条",
                    "sZeroRecords": "没有您要搜索的内容",
                    "sInfo": "从_START_到_END_条记录 总记录数为_TOTAL_条",
                    "sInfoEmpty": "记录数为0",
                    "sInfoFiltered": "(全部记录数 _MAX_ 条)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": "上一页",
                        "sNext": "下一页",
                        "sLast": "最后一页"
                    }
                },
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row clearfix"></div>
    <div class="col-md-12 column"></div>

    <nav class="navbar navber-default" role="navigation"></nav>
    <!--    <div class="container-fluid">-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
        <img class="img-thumbnail" src="../static/img/logo.png" th:src="@{/img/logo.png}"
             style="overflow: hidden;height: 2cm;width: 3cm ;border-radius:26px;background-color: transparent;
    border: none;"/>
    </div>
    <!--</div>-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/index">首页</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">查询<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/search">查询演示</a></li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">查询二</a></li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">查询三</a></li>
                </ul>

            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">编辑<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/edituser">编辑</a></li>
                    <li>
                        <a href="/gofind">查询编辑</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" th:text="'用户名:'+${session.currentuser}">
                </a></li>
            <li>
                <a href="/logout">注销</a>
            </li>
        </ul>
    </div>
    <div class="row clearfix"></div>
    <div class="col-md-2 column">
        <ul class="nav nav-pills nav-stacked" id="public_left">
            <li class="nav-header">分区一</li>
            <li class="nav-link"><a href="#">模块一</a></li>
            <li class="nav-link"><a href="#">模块二</a></li>
            <li class="nav-link"><a href="#">模块三</a></li>
            <li class="nav-header">分区二</li>
            <li class="nav-link"><a href="/toUpload">文件上传</a></li>
            <li class="nav-link"><a href="/todownload">文件下载</a></li>
            <li class="nav-link"><a href="/all_page">数据分页</a></li>
            <li class="nav-link"><a href="/tochart">数据图表</a></li>
        </ul>
    </div>
    <div class="=col-md-10 column">
        <div id="public_right" th:include="::public_right">
            <h2>
                这是publicpage.html内容
            </h2>
            <p>
                public_right,这部分可根据所显示内容不同，动态调整。
            </p>
            <p>
                <a class="btn" href="#">Details</a>
            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column text-center">
            <hr>
            <p>
                @2022-2023CopyRights
            </p>
            <p>
                <a class="btn" href="mailto:lsh@wxit.edu.cn">联系我:lsh@wxit.edu.cn</a>
            </p>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../static/css/styles.8cec5ded.css" th:href="@{/css/styles.8cec5ded.css}">
<!--<script type="text/javascript" src="../static/js/particle.js" th:src="@{/js/particle.js}"></script>-->
<iframe class="bg" title="myIframe"
        src="../static/css/test.html" th:src="@{/css/test.html}"
        marginwidth="0" marginheight="0"></iframe>
</body>
</html>